h1 {
  font-size: 2rem;
  margin-bottom: .5em;
}

p {
  font-size: .8rem;
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: #3366FF;
  border-left: 2px solid #3366FF;
}
.timeline-item p {
  font-size: 1rem;
  color:#222222;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: .785rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid #3366FF;
  background: white;
}
