<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12 text-center">
      <span class="badge badge-pill badge-primary p-2 text-uppercase" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">Education</span>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
      <div class="timeline-item" date-is='2017-2021' data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="800">
        <h1>B.Tech In Computer Science</h1>
        <p class="text-uppercase">gitam (deemed to be university)</p>
        <p class="year">Session: 2017-present</p>
        <p class="cgpa">CGPA: 7.92(Till 5th sem)</p>
      </div>
      
      <div class="timeline-item" date-is='2015-2017' data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="800">
        <h1>12 <sup>th</sup></h1>
        <p class="text-uppercase">narayana jr college</p>
        <p class="year">Session: 2015-2017</p>
        <p class="cgpa">Percentage: 89%</p>
      </div>
      
      <div class="timeline-item" date-is='2014-2015' data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="800">
        <h1>10<sup>th</sup> </h1>
        <p class="text-uppercase">narayana high school</p>
        <p class="year">Session: 2014-2015</p>
        <p class="cgpa">Percentage: 85%</p>
      </div>
    </div>
  </div>
</div>
