<div class="container">
    <div class="row align-items-center">
        <div class="col-12 text-center">
          <span class="badge badge-pill badge-primary p-2 text-uppercase">Contact me</span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-down-right" data-aos-duration="1000">
          <h1 class="text-center details">Get in touch with me</h1>
          <div class="cta-details mt-3 text-center">
              <div>
              <label class="text-uppercase">Email Id:</label>
              <span class="gmail ml-2">saivamsivarma6@gmail.com</span>
            </div>
            <div>
              <label class="text-uppercase">Contact Number:</label>
              <span class="pn ml-2">+91 7337448258</span>
            </div>
            
            <ul class="d-flex social-links">
              <li>
                  <fa-icon [icon]="faSlack"></fa-icon>
              </li>

              <li>
                <fa-icon [icon]="faGithub"></fa-icon>
              </li>

              <li>
                <fa-icon [icon]="faInstagram"></fa-icon>
              </li>

              <li>
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </li>
          </ul>

          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  col-xs-12">
          <div class="card contact-card shadow-lg p-3" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
              <form class="form-group">
                <div class="m-2 p-2">
                    <input type="text" class="form-control" placeholder="Your Name">
                </div>
                <div class="m-2 p-2">
                    <input type="text" class="form-control" placeholder="Your Email Id">
                </div>
                <div class="m-2 p-2">
                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Your Message"></textarea>
                </div>
                <div class="m-2 p-2 text-center">
                <button class="btn btn-color">Send Message</button>
                </div>
              </form>
          </div>
        </div>
        
      </div>
</div>