  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-12 text-center" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
        <span class="badge badge-pill badge-primary p-2 text-uppercase">my skills</span>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
        <h1 class="text-center mt-5">My Experties...</h1>
        <div class="dec">As a freelance, I have acquired numerous amount of knowledge on these technologies that help me to achieve customers' needs.</div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
        <div class="card chart-card shadow-lg p-3">
          <canvas id="myChart" width=900 height=900></canvas>
        </div>
      </div>
      
    </div>
  </div>