#home{
    height: 100vh;
}

@media only screen and (max-width: 1024px)
{
    #home{
        height: 55vh;
    }   
}
@media only screen and (max-width: 1000px)
{
    #home{
        height: 100vh;
        margin-bottom: 3rem;
        background-color: #3366FF;
    }   

    #about-me
    {
        margin-top: 4rem;
    }

    #skills
    {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 320px)
{
    #home
    {
        height: 102vh !important;
    }
}