<section>
  <section id="home">
      <app-welcome></app-welcome>
  </section>
  
  <section class="p-3" id="about-me" (scroll)="onWindowScroll($event);">
    <app-about-me></app-about-me>
  <section>

    <section class="p-3" id="skills">
      <app-skills></app-skills>
    </section>
    <section class="p-3" id="education">
      <app-education></app-education>
    </section>

    <section class="p-3" id="projects">
      <app-project></app-project>
    </section>

    
    <section class="p-3" id="contact">
      <app-contact></app-contact>
    </section>

    <app-footer></app-footer>    
    
  </section>
  