<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
            <span class="badge badge-pill badge-primary p-2 text-uppercase">my Projects</span>
          </div>
        <div class="col-lg-3 col-md-6 col-sm-12 justify-content-center">
            <div class="card shadow-lg text-center"data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">

                <circle-progress
                [percent]="100"
                [radius]="100"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#3366FF'"
                [innerStrokeColor]="'#3366FF'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'/assets/dhaatri.png'"
                [imageWidth]="80"
                [imageHeight]="90"
                [renderOnClick]="false">
              </circle-progress>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow-lg text-center " data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">

                <circle-progress
                [percent]="100"
                [radius]="100"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#3366FF'"
                [innerStrokeColor]="'#3366FF'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'/assets/warehouse.svg'"
                [imageWidth]="80"
                [imageHeight]='70'
                [renderOnClick]="false">
              </circle-progress>

            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow-lg text-center" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">

                <circle-progress
                [percent]="100"
                [radius]="100"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#3366FF'"
                [innerStrokeColor]="'#3366FF'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'/assets/AI.svg'"
                [imageWidth]="80"
                [imageHeight]='70'
                [renderOnClick]="false">
              </circle-progress>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow-lg text-center ml-auto" data-aos="fade-down-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">

                <circle-progress
                [percent]="100"
                [radius]="100"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#3366FF'"
                [innerStrokeColor]="'#3366FF'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'/assets/Hireme.svg'"
                [imageWidth]="70"
                [imageHeight]="70"
                [renderOnClick]="false">
              </circle-progress>

            </div>
        </div>

       
    </div>
</div>